<section class="blog">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="blog-details">
    <h2>{{blog.post_title}}</h2>
    <p>{{blog.contents}}</p>
    <p>Created on: {{format_date blog.post_date}}</p>

    Add comment section
  </div>
</section>