<section class="user">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="user-details">
    <h2>ID(REMOVE THIS): {{user.id}}</h2>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p> 
    <p>ADD ALL BLOGS CREATED BY USER: DONE </p>
    <P>ADD ABILITY TO CREATE A NEW BLOG POST</P>

<div class="form-group">                                                                 
        <label for="password-login">Title:</label>
        <input class="form-input" type="Title" id="blogTitleForm" />
      </div>
      <label for="blogContent">Content</label>
      <textarea id="blogContentForm" name="Blog Content" rows="4" cols="50"></textarea>
      <br>
       <button class="createBlogPostButton" type="submit">Create New Blog Post</button>
</div>
  </div>





<div id="dashboardBlogBlock">
<h2>Your Blogs:</h2>
{{#each user.blogs as |blog|}}
{{> blog-details}}
{{/each}}
</div>



</section>