<section class="user">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="user-details">
    <h2>ID(REMOVE THIS): {{user.id}}</h2>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p> 
    <p>ADD ALL BLOGS CREATED BY USER: DONE </p>
    <P>ADD ABILITY TO CREATE A NEW BLOG POST</P>
<br>
<br>

{{> create-blog}}

<div id="dashboardBlogBlock">
<h2>Your Blogs:</h2>
{{#each user.blogs as |blog|}}
{{> blog-details}}
{{/each}}
</div>
</section>



