<section class="user">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="user-details">
    {{!-- <h2>ID(REMOVE THIS): {{user.id}}</h2> --}}
    <h1>Username: {{user.username}}</h1>
    <p>Email: {{user.email}}</p> 
<br>
<br>

{{> create-blog}}

<div id="dashboardBlogBlock">
<h2>Your Blogs:</h2>
{{#each user.blogs as |blog|}}
{{> blog-details}}
{{/each}}
</div>
</section>


